
<div class="container  d-flex justify-content-center align-items-center">

    <div class="content text-center">
        <h1>About Me</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia enim ullam doloremque officia maiores vero!</p>
    </div>

    <div class="card d-flex justify-content-center align-items-center" style="width: 18rem;">
        <img src="/images/4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Full Stack PHP</h5>
          <a href="#" class="btn btn-primary">Go Change</a>
        </div>
      </div>


</div>
