
<div class="container p-5">
    <div class="content text-center">
        <h1>Our Work</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia enim ullam doloremque officia maiores vero!</p>
    </div>
    <div class="container">
        <div class="container row ">
              <div class="col-4" style="width: 18rem;">
                <img src="/images/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="col-4 " style="width: 18rem;">
                <img src="/images/3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="col-4 " style="width: 18rem;">
                <img src="/images/4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class=" col-4  " style="width: 18rem;">
                <img src="/images/5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class=" col-4 " style="width: 18rem;">
                <img src="/images/6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class=" col-4 " style="width: 18rem;">
                <img src="/images/7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class=" col-4  " style="width: 18rem;">
                <img src="/images/5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class=" col-4  " style="width: 18rem;">
                <img src="/images/5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
</div>