
<div class="container">
    <!-- page1 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
        <div class="container ">
          <a class="navbar-brand" href="#">My Store</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Work</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  About
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="HOme_page ">
        
      <div class="Home  ">
        <h1 class="col-md-8 text-center">Welcom to Hossam Stor</h1>
      </div>

      <div class="creat row">
        <div class="card col-4 g-3">
            <div class="card-body">
                <h2>Innovate</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptates ipsa. Voluptatum rerum impedit odio accusamus, aperiam aliquid laudantium perferendis nostrum doloremque eum, doloribus sunt assumenda porro officia, iste est.
                </p>
            </div>
          </div>
        <div class="card col-4 g-3">
            <div class="card-body">
                <h2>Creat</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Et praesentium eos nulla qui commodi consectetur beatae fugiat. 
                    Veniam iste rerum perferendis.</p>
            </div>
          </div>
        <div class="card col-4 g-3">
            <div class="card-body">
                <h2>Scal</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nostrum modi perspiciatis aut corporis quos suscipit culpa ab molestiae quod, vero eius nisi necessitatibus est quasi totam rem. Fugiat, eum?</p>
            </div>
          </div>
      </div>
    </div>

</div>
